/**
 * Body CSS
 */
  @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;400;700&display=swap');

 html,
 body {
   height: 100%;
   font-family: 'Mukta', sans-serif;
 }

 html,
 body,
 input,
 textarea,
 button {
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
   position: relative;
 }

 .author {
  font-size: .8rem;
 }

 .subheader {
  color: #e5a273;
  text-transform: uppercase;
  text-shadow: 0 2px 4px rgba(172, 17, 17, 0.573);
 }

 .floating-btn {
  position: fixed;
  bottom: 50px;
  right: 50px;
 }

 .modal-window {
  margin: 150px auto;
  overflow-y: auto;
  max-width: 600px;
  max-height: 450px;
  background-color: #e8dbd2;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(172, 17, 17, 0.573);
 }

 .modal-window h1 {
  text-align: center;
  font-size: 3rem;
  text-transform: uppercase;
 }

 .modal-context{
  padding: 30px;
  text-align: left;
  color: rgb(73, 73, 73);
  font-size: 2rem;
 }

 .error {
  color: #e3761c;
  font-size: 2rem;
  letter-spacing: 2px;
 }


 /**
  * Sidebar CSS
  */

 #sidebar {
   background-color: #e5a273;
   padding: 15px;
 }

 @media (min-width: 768px) {
   #sidebar {
     position: fixed;
     top: 0;
     bottom: 0;
     width: 180px;
     height: 100%;
     padding-top: 30px;
   }
 }


 /**
  * Content CSS
  */
 @media (min-width: 768px) {
   #content {
     margin-left: 180px;
   }
 }